.card-wrapper {
    width: 386px;
    height: 444px;
    margin-bottom: 103px;
    margin-right: 40px;
    transition: 0.5s ease;
}

.category-cardWrapper {
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1280px;
}

.card-img-section {
    height: 330px;
    width: 355px;
    margin: 16px 16px 24px 16px;
}


#in-stock {
    margin-left: 35.42%;
    margin-top: -65.24%;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    text-align: center;
    color: #8d8f9a;
}

.card-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.out {
    z-index: 2;
    transition: 0.5s ease;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
}

.out:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

#product-image {
    width: 354px;
    height: 330px;
    object-fit: contain;
}

.out > #product-image {
    background-color: #8d8f9a;
}

#product-name {
    width: 354px;
    height: 29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1d1f22;
    margin: 0px 16px 0px 16px;
}

.out > #product-name {
    color: #8d8f9a;
}

#product-price {
    margin-left: 16px;
    width: 58px;
    height: 29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: right;
    color: #1d1f22;
}

.out > #product-price {
    color: #8d8f9a;
}
