.card-attributes-bill {
    width: 279px;
    height: 159px;
    margin-bottom: 274px;
    margin-top: 32px;
}

.card-attributes-bill p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    color: #1d1f22;
}

.card-attributes-bill p span {
    font-weight: 700;
    margin-left: 7px;
}

#card-attributes-tax {
    margin-left: 16px;
}

#card-attributes-bill-total {
    margin-left: 44px;
}

.card-attributes-bill button {
    margin-top: 16px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    cursor: pointer;
    width: 279px;
    height: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #5ece7b;
}

/* Cart Component Section */
.cart-display-section {
    margin-left: 101px;
}

.cart-display-section h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 55px;
    text-transform: uppercase;
    color: #1d1f22;
    margin-top: 80px;
}

.cart-display-section hr {
    background-color: #e5e5e5;
    width: 1240px;
    height: 1px;
    border: none;
}
