.main-nav-container {
    height: 80px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-name ul {
    display: flex;
    margin-left: 101px;
    margin-top: 24px;
    justify-content: space-between;
    align-items: flex-start;
    width: 234px;
    height: 56px;
}

.category-name ul > li {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 4px 16px 32px 16px;
}

.category-name ul > a {
    color: #1d1f22;
    text-decoration: none;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
}

.activeClicked {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 56px;
    border-bottom: 2px solid #5ece7b;
    font-style: normal;
    color: #5ece7b;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 204px;
    height: 40px;
}

.middle-logo > img {
    cursor: pointer;
}
#number-in-cart {
    border-radius: 12px;
    width: 15px;
    height: 16px;
    font-size: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    background-color: #1d1f22;
    color: #eee;
    margin-left: -8px;
    margin-top: -15px;
}

#empty-cart-logo {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.actions {
    margin-right: 101px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions > p {
    width: 32px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-down {
    margin-right: 22px;
    cursor: pointer;
}

#arrow-up {
    margin-right: 22px;
    transform: rotate(180deg);
    cursor: pointer;
}

#number-in-cart {
    border-radius: 12px;
    width: 14.29px;
    height: 14.29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1d1f22;
    color: #eee;
    margin-left: -8px;
    margin-top: -15px;
}
